body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.left_side{
    flex: 1;
    background-image: url("Image/Backgroud_login.png");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}
.right_side{
    flex: 1;
    background-color: #fffdf7;
    display: flex;
    justify-content: center;
    align-items: top;
}
img{
    max-width: 350px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.text-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 70px;
    padding-top: 170px;
}
    
h1{
    text-align: center;
    font-size: 30px;
    color: rgb(52,52,151);
    font-family: "Pacifico", cursive;
    font-style: normal;
}
h2{
    font-size: 40px;
    margin: 10px;
    line-height: 10px;
    color: #1c6e3e;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}
h3{
    font-size: 60px;
    margin: 20px;
    line-height: 1opx;
    color: #1c6e3e;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-style: italic ;
}
.link-row{
    font-size: 15px;
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.link-signin{
    margin-left: 15px;
    color: rgb(52, 52, 151);
}
.link-reset{
    color: rgb(184, 12, 12);
}
  
.login input[type="text"],.login input[type="password"]{
    width: 400px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #2ecc71;
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
    font-style: normal;
}
.login button[type="button"]{
    display: block;
    font-family: "Pacifico", cursive;
    font-style: normal;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 1;
    color: rgb(52, 52, 151);
    box-shadow: 6px 6px 12px rgb(105, 114, 106);
    border-radius: 5px;
}
.login button:hover{
    background: radial-gradient(circle farthest-corner at 10% 20%
    , #31a035ad 8%,rgb(147, 251, 96) 100.2%);
    transition: 0.5s;
    color: white;
    box-shadow:6px 6px 12px #1c6e3e;
    border-radius: 5px ;
    border-color: #1c6e3e;
}