body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.logo img{
    max-width: 200px;
    margin-top: 0px;
    padding-top: 0px;
}
h1{
    background-color: #ECFDEA;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.header{
    display: flex;
    margin: 0;
    padding: 0;
}
.header .sidebar{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header .sidebar .profile{
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: flex-start;
    padding: 20px 0;
    padding-bottom: 55vh;      
    border: 1px solid #001;
    gap: 15px;               
}
.header .sidebar img{
    width: 150px;
}
.sidebar button{
    width: 120px;
    height: 45px;

    display: flex;
    justify-content: center; 
    align-items: center;

    background-color: #FFF;
    cursor: pointer;
}
.sidebar button:hover{
    background: radial-gradient(circle farthest-corner at 10% 20%
    , #31a035ad 8%,rgb(147, 251, 96) 100.2%);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    box-shadow:6px 6px 12px #1c6e3e;
    border-radius: 5px ;
    border-color: #1c6e3e;
}
.header .sidebar .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid#001;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.header .top-menu{
    display: flex;
    height: 10vh;
    border: 1px solid#001;
    align-items: center;
    padding-left: 10vw;
    gap: 10vw;
}
.header .top-menu .category-box {
    display: inline-flex;
    align-items: center;
    background-color: #e0e0e0; 
    border: 1px solid #999;    
    padding: 5px 15px;         
    border-radius: 4px;        
    cursor: pointer;
}
.header .top-menu select {
    font-size: 20px;
    width: 120px;
    background: transparent;
    appearance: none;
    border: none;
}
.header .top-menu .category-box .icon {
    transition: transform 0.1s ease;
    margin: 5px;
}
.category-box.active .icon {
    transform: rotate(180deg);
}
.main-content-area {
    flex: 1;
}
.main-content-area .preview{
    width: 200px;
    height: 200px;
    border: 1px solid #001;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 50px;
}
.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.preview span {
    color: #888;
    font-size: 18px;
    position: absolute;
}
.photo-scan {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 200px;           
    margin-left: 50px;
    margin-top: 50px;
}
.photo-scan button{ 
    width: 200px;
    height: 60px;
}
.photo-scan button:hover{
    background: radial-gradient(circle farthest-corner at 10% 20%
    , #31a035ad 8%,rgb(147, 251, 96) 100.2%);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    box-shadow:6px 6px 12px #1c6e3e;
    border-radius: 5px ;
    border-color: #1c6e3e;
}
.input-box{
    display: flex;
    margin: 50px;
    flex-direction: column;
}
.input-box input{
    height: 40px;
    margin-top: 10px;
    padding-left: 40px;
    margin-bottom: 0px;
}
.submit-wrapper{
    display: flex;
    justify-content: center;
    margin: 0px;
}
.submit-wrapper button{
    width: 200px;
    height: 50px;
}
.submit-wrapper button:hover{
    background: radial-gradient(circle farthest-corner at 10% 20%
    , #31a035ad 8%,rgb(147, 251, 96) 100.2%);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    box-shadow:6px 6px 12px #1c6e3e;
    border-radius: 5px ;
    border-color: #1c6e3e;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;              
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.Modal-content {
    display: flex;
    gap: 40px;
}
.modal-box {
    background: #ffffff;
    width: 340px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
    text-align: center;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-header .close {
    cursor: pointer;
    font-size: 20px;
}
.barcode-preview {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}
.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 40px 10px;
    margin-left: 15px;
    margin-right: 15px ;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #777;
    height: 80px;
}
.camera {
    background: #2e7d32;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}
.upload {
    background: #283593;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}
.close-modal {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
.close-btn {
    transition: color 0.2s, background-color 0.2s;
    border-radius: 50%;      
}
.close:hover {
    color: #ff0000;          
    transform: scale(1.5);
    
}